.header-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .header-main-container {
    padding: 10px 60px;
    height: 10vh;
  }
}

.logo-container {
  padding: 0;
  margin: 0;
  width: auto;
}

.nav-logo-img {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .nav-logo-img {
    width: 120px;
  }
}

.sm-header-nav-items-ul-container {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.lg-header-nav-items-ul-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .sm-header-nav-items-ul-container {
    display: none;
  }

  .lg-header-nav-items-ul-container {
    padding: 0;
    display: block;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.nav-items-li-container {
  list-style-type: none;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .nav-items-li-container {
    margin-left: 15px;
  }
}

.nav-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.sm-logout-btn-icon {
  margin-left: 10px;
}

.logout-btn {
  border: 1.5px solid #3b82f6;
  outline: none;
  font-weight: 600;
  color: #3b82f6;
  background-color: transparent;
  padding: 5px 18px;
  margin-left: 25px;
  font-size: 15px;
  border-radius: 3px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.96);
}

.nav-profile-icon {
  height: 28px;
  width: 28px;
}

.nav-dark-theme-icon {
  color: white;
}

.popup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.popup-text {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.cancel-button {
  border: 1px solid #909090;
  color: #909090;
  background-color: transparent;
}

.confirm-button {
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
}

.popup-btn {
  padding: 10px 24px;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
}

.popup-btn:hover {
  transform: scale(1.02);
}

.popup-btn:active {
  transform: scale(0.96);
}
