.sidebar-main-container {
  display: none;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .sidebar-main-container {
    display: block;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.sidebar-navigators-main-container {
  display: flex;
  flex-direction: column;
}

.sidebar-tab-btn {
  padding: 5px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.sidebar-tab-btn:focus {
  background-color: #000000;
  color: red !important;
}

.sidebar-tab-btn:active {
  transform: scale(0.96);
}

.sidebar-link-ele {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-tab-para {
  margin: 0 0 0 15px;
  font-size: 16px;
}

.sidebar-tab-para:focus {
  color: green;
}

.sidebar-contact-details-main-container {
  padding: 0 20px;
}

.contact-app-icons-container {
  display: flex;
  align-items: center;
}

.contact-app-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
